<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swiggy</title>
    <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/client.css">
</head>
<body>
  <header>
      {{> _header}}
  </header>

    <div class="container">
        {{{body}}}
    </div>

    <footer>
        {{> _footer}}
    </footer>

   <script src="../../jquery/dist/jquery.min.js"></script>
   <script src="../../bootstrap/dist/js/bootstrap.min.js"></script>
   <script src="../../js/client.js"></script>
</body>
</html>