 <section class="container">
  <div class="row">
  <div class="col-sm-4">
  <div class="card">
  <img  class="menu-img" src="../../image/healthy-food-clean-eating-selection-260nw-722718097.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Veg Special </h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Order</a>
   
  </div>
</div>
</div>
<div class="col-sm-4">
  <div class="card">
  <img  class="menu-img" src="../../image/gettyimages-639389404-612x612.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Paneer Masala</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Order</a>
  </div>
</div>

</div>
<div class="col-sm-4">
  <div class="card">
  <img  class="menu-img" src="../../image/cropped-GettyImages-643764514.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Special Curry</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Order</a>
  </div>
</div>
</div>
 <div class="row">
  <div class="col-sm-4">
  <div class="card">
  <img class="menu-img" src="../../image/healthy-food-clean-eating-selection-260nw-722718097.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Veg Special </h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Order</a>
  </div>
</div>
</div>
<div class="col-sm-4">
  <div class="card">
  <img  class="menu-img" src="../../image/gettyimages-639389404-612x612.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Paneer Masala</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Order</a>
  </div>
</div>

</div>
<div class="col-sm-4">
  <div class="card">
  <img  class="menu-img" src="../../image/cropped-GettyImages-643764514.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Special Curry</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Order</a>
  </div>
</div>
</div>
 <div class="row">
  <div class="col-sm-4">
  <div class="card">
  <img  class="menu-img" src="../../image/healthy-food-clean-eating-selection-260nw-722718097.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Veg Special </h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Order</a>
  </div>
</div>
</div>
<div class="col-sm-4">
  <div class="card">
  <img  class="menu-img" src="../../image/gettyimages-639389404-612x612.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Paneer Masala</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Order</a>
  </div>
</div>

</div>
<div class="col-sm-4">
  <div class="card">
  <img  class="menu-img" src="../../image/cropped-GettyImages-643764514.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Special Curry</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Order</a>
  </div>
</div>
</div>
 <div class="row">
  <div class="col-sm-4">
  <div class="card">
  <img  class="menu-img" src="../../image/healthy-food-clean-eating-selection-260nw-722718097.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Veg Special </h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Order</a>
  </div>
</div>
</div>
<div class="col-sm-4">
  <div class="card">
  <img  class="menu-img" src="../../image/gettyimages-639389404-612x612.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Paneer Masala</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Order</a>
  </div>
</div>

</div>
<div class="col-sm-4">
  <div class="card">
  <img  class="menu-img" src="../../image/cropped-GettyImages-643764514.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Special Curry</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Order</a>
  </div>
</div>
</div>
 <div class="row">
  <div class="col-sm-4">
  <div class="card">
  <img  class="menu-img" src="../../image/healthy-food-clean-eating-selection-260nw-722718097.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Veg Special </h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Order</a>
  </div>
</div>
</div>
<div class="col-sm-4">
  <div class="card">
  <img  class="menu-img" src="../../image/gettyimages-639389404-612x612.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Paneer Masala</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Order</a>
  </div>
</div>

</div>
<div class="col-sm-4">
  <div class="card">
  <img  class="menu-img" src="../../image/cropped-GettyImages-643764514.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Special Curry</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Order</a>
  </div>
</div>
</div>

</div>










