<section>
    <article>
        <h1 class="text-uppercase font-weight-bold text-center my-2">Orders</h1><hr>
        <div class="row">
        {{#each orders}}
        <div class="col-md-2 mx-4 card my-2">
            
        
            <h1>{{restaraunt_name}}</h1>
           <p> {{restaraunt_dish1}}</p>
          <p>{{restaraunt_dish2}}</p>  

        </div>
        {{else}}
        {{/each}}
        </div>
    </article>
</section>