<section>
    <article>
        <div class="row">
      <div class="col-md-6">
          <p>hi</p>
          <p>hi</p>
          <p>hi</p>
          <p>hi</p>
          </div>

           <div class="col-md-6">
          <p>hi</p>
          <p>hi</p>
          <p>hi</p>
          <p>hi</p>
          </div>
          
        </div>
    </article>
</section>
